CREATE TABLE [dbo].[PostCode_Province](
	[Post_Province_ID] [int] IDENTITY(1,1) NOT NULL,
	[Post_Province] [varchar](100) NOT NULL,
	[Post_Province_Eng] [varchar](100) NULL,
	[Symbol] [char](10) NULL,
	[Symbol_Eng] [char](10) NULL,
 CONSTRAINT [PK_PostCode_Province] PRIMARY KEY CLUSTERED 
(
	[Post_Province_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCode_PostOffice]    Script Date: 10/5/2023 10:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCode_PostOffice](
	[Post_PostOffice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Post_PostOffice] [varchar](100) NOT NULL,
	[Post_PostOffice_Eng] [varchar](100) NULL,
 CONSTRAINT [PK_PostCode_PostOffice] PRIMARY KEY CLUSTERED 
(
	[Post_PostOffice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCode_Amphur]    Script Date: 10/5/2023 10:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCode_Amphur](
	[Post_Amphur_ID] [int] IDENTITY(1,1) NOT NULL,
	[Post_Amphur] [varchar](100) NOT NULL,
	[Post_Amphur_Eng] [varchar](100) NULL,
 CONSTRAINT [PK_PostCode_Amphur] PRIMARY KEY CLUSTERED 
(
	[Post_Amphur_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCode_PostCode]    Script Date: 10/5/2023 10:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCode_PostCode](
	[Post_PostCode_ID] [int] IDENTITY(1,1) NOT NULL,
	[PostCode] [char](10) NOT NULL,
	[PnvID] [int] NOT NULL,
	[AmpID] [int] NOT NULL,
	[PostOffID] [int] NULL,
	[Note] [text] NULL,
 CONSTRAINT [PK_PostCode_PostCode] PRIMARY KEY CLUSTERED 
(
	[Post_PostCode_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[PostCode_Amphur] ON 

INSERT [dbo].[PostCode_Amphur] ([Post_Amphur_ID], [Post_Amphur], [Post_Amphur_Eng]) VALUES (1, N'ป้อมปราบศัตรูพ่าย        ', NULL)
INSERT [dbo].[PostCode_Amphur] ([Post_Amphur_ID], [Post_Amphur], [Post_Amphur_Eng]) VALUES (2, N'สัมพันธวงศ์              ', NULL)
INSERT [dbo].[PostCode_Amphur] ([Post_Amphur_ID], [Post_Amphur], [Post_Amphur_Eng]) VALUES (3, N'คลองเตย                  ', NULL)
GO
SET IDENTITY_INSERT [dbo].[PostCode_Amphur] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCode_PostCode] ON 

INSERT [dbo].[PostCode_PostCode] ([Post_PostCode_ID], [PostCode], [PnvID], [AmpID], [PostOffID], [Note]) VALUES (1, N'10100     ', 2, 1, 449, N'')
INSERT [dbo].[PostCode_PostCode] ([Post_PostCode_ID], [PostCode], [PnvID], [AmpID], [PostOffID], [Note]) VALUES (2, N'10100     ', 2, 2, 449, N'')
INSERT [dbo].[PostCode_PostCode] ([Post_PostCode_ID], [PostCode], [PnvID], [AmpID], [PostOffID], [Note]) VALUES (3, N'10110     ', 2, 3, 439, N'ยกเว้น  แขวงคลองตัน(ฝั่งทิศเหนือ)  พระโขนง(ฝั่งทิศใต้ ) 10250 (ปณ.อ่อนนุช)')
GO
SET IDENTITY_INSERT [dbo].[PostCode_PostCode] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCode_PostOffice] ON 

INSERT [dbo].[PostCode_PostOffice] ([Post_PostOffice_ID], [Post_PostOffice], [Post_PostOffice_Eng]) VALUES (1, N'ปณ.กงไกรลาศ', NULL)
INSERT [dbo].[PostCode_PostOffice] ([Post_PostOffice_ID], [Post_PostOffice], [Post_PostOffice_Eng]) VALUES (2, N'ปณ.กงหรา', NULL)
INSERT [dbo].[PostCode_PostOffice] ([Post_PostOffice_ID], [Post_PostOffice], [Post_PostOffice_Eng]) VALUES (3, N'ปณ.กบินทร์บุรี', NULL)
GO
SET IDENTITY_INSERT [dbo].[PostCode_PostOffice] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCode_Province] ON 

INSERT [dbo].[PostCode_Province] ([Post_Province_ID], [Post_Province], [Post_Province_Eng], [Symbol], [Symbol_Eng]) VALUES (1, N'กระบี่', NULL, N'          ', NULL)
INSERT [dbo].[PostCode_Province] ([Post_Province_ID], [Post_Province], [Post_Province_Eng], [Symbol], [Symbol_Eng]) VALUES (2, N'กรุงเทพฯ', NULL, N'          ', NULL)
INSERT [dbo].[PostCode_Province] ([Post_Province_ID], [Post_Province], [Post_Province_Eng], [Symbol], [Symbol_Eng]) VALUES (3, N'กาญจนบุรี', NULL, N'          ', NULL)
SET IDENTITY_INSERT [dbo].[PostCode_Province] OFF
GO
ALTER TABLE [dbo].[PostCode_PostCode]  WITH CHECK ADD  CONSTRAINT [FK_PostCode_PostCode_PostCode_Amphur] FOREIGN KEY([AmpID])
REFERENCES [dbo].[PostCode_Amphur] ([Post_Amphur_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostCode_PostCode] CHECK CONSTRAINT [FK_PostCode_PostCode_PostCode_Amphur]
GO
ALTER TABLE [dbo].[PostCode_PostCode]  WITH CHECK ADD  CONSTRAINT [FK_PostCode_PostCode_PostCode_PostOffice] FOREIGN KEY([PostOffID])
REFERENCES [dbo].[PostCode_PostOffice] ([Post_PostOffice_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostCode_PostCode] CHECK CONSTRAINT [FK_PostCode_PostCode_PostCode_PostOffice]
GO
ALTER TABLE [dbo].[PostCode_PostCode]  WITH CHECK ADD  CONSTRAINT [FK_PostCode_PostCode_PostCode_Province] FOREIGN KEY([PnvID])
REFERENCES [dbo].[PostCode_Province] ([Post_Province_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostCode_PostCode] CHECK CONSTRAINT [FK_PostCode_PostCode_PostCode_Province]
GO
